{% extends "./school_base.html" %}
{% block title %} Update Profile {% endblock title %} 

{% block body %}
<div id="admin-profile" class="tab-content">
    <h2>School Profile</h2>

    <!-- Update Profile Section -->
    <section class="update-profile">
      <h3>Update Profile</h3>
      <form class="profile-form" method="POST" action="{% url 'school_updateProfile' %}">
        {% csrf_token %}
        <div class="input-row">
          <label for="admin-name">Full Name</label>
          <input type="text" id="admin-name" name="username" value="{{ user.username }}" required />
        </div>
        <div class="input-row">
          <label for="admin-email">Email</label>
          <input type="email" id="admin-email" name="email" value="{{ user.email }}" required />
        </div>
        <button type="submit" class="submit-btn btn">Save Changes</button>
      </form>
    </section>

    <!-- Change Password Section -->
    <section class="change-password">
      <h3>Change Password</h3>
      <form class="change-password-form" method="POST" action="{% url 'school_updateProfile' %}">
        {% csrf_token %}
        <div class="input-row">
          <label for="current-password">Current Password</label>
          <input type="password" id="current-password" name="current_password" required />
        </div>
        <div class="input-row">
          <label for="new-password">New Password</label>
          <input type="password" id="new-password" name="password" required />
        </div>
        <div class="input-row">
          <label for="confirm-password">Confirm New Password</label>
          <input type="password" id="confirm-password" name="confirm_password" required />
        </div>
        <button type="submit" class="submit-btn btn">Update Password</button>
      </form>
    </section>
  </div>
  
{% endblock body %}
