{% extends "home/base.html" %}
{% block title %} Home {% endblock title %} 

{% block body %}

<div id="edugate_hero_banner" class="page-section">
    <div class="wrapper">
        <article class="has-post-thumbnail">
            <div class="entry-container">
                <div class="entry-header">
                    <p class="entry-subtitle">Learning With
                        Fun</p>
                    <h2 class="entry-title">Grow Your
                        <span>Skills</span> to Advance Your
                        <span>Career</span> Path.</h2>
                </div><!-- .section-header -->

                <div class="entry-content">
                    <p>What if you could get a Harvard-level
                        education by reading for just 15 minutes
                        a day? That was exactly the goal and
                        philoshopy of Dr Charles W.Eliot.</p>
                </div><!-- .entry-content -->

                <div class="join-us">
                    <a href="#" class="btn login-page">Join Us
                        Now</a>
                </div>
            </div><!-- .entry-container -->

            <div class="featured-image">
                <img src="/static/assets/images/02.png">
                <a href="#" class="post-thumbnail-link"></a>
            </div>
        </article>
    </div><!-- .wrapper -->
</div><!-- #edugate_hero_banner -->

<div id="edugate_rainbow_line"
    class="page-section same-background">
    <div class="rainbow-line">
        <div class="line-1 line"></div>
        <div class="line-2 line"></div>
        <div class="line-3 line"></div>
        <div class="line-4 line"></div>
        <div class="line-5 line"></div>
    </div>
</div><!-- #edugate_rainbow_line -->

<div id="edugate_services" class="page-section same-background">
    <div class="wrapper">
        <div class="section-header">
            <p class="section-subtitle">Why Choose Us?</p>
            <h2 class="section-title">Benefits of Learning at
                Edugate</h2>
        </div>

        <div class="service-container">
            <article>
                <div class="entry-container">
                    <div class="icon-container">
                        <i class="fa fa-users"
                            aria-hidden="true"></i>
                    </div>
                    <header class="entry-header">
                        <h2 class="entry-title">
                            <a href="#">One-On-One Teaching</a>
                        </h2>
                    </header>
                    <div class="entry-content">
                        <p>All of Our Special Education Experts
                            Have a Degree in Special Educational
                            Field.</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="entry-container">
                    <div class="icon-container">
                        <i class="fa fa-clock-o"
                            aria-hidden="true"></i>
                    </div>
                    <header class="entry-header">
                        <h2 class="entry-title">
                            <a href="#">24/7 Tutor
                                Availability</a>
                        </h2>
                    </header>
                    <div class="entry-content">
                        <p>24/7 Tutor Availability Assured at
                            Learner Matched to Your Learn Style
                            & Technique!</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="entry-container">
                    <div class="icon-container">
                        <i class="fa fa-file-text"
                            aria-hidden="true"></i>
                    </div>
                    <header class="entry-header">
                        <h2 class="entry-title">
                            <a href="#">Interactive
                                Whiteboard</a>
                        </h2>
                    </header>
                    <div class="entry-content">
                        <p>Our Digital Whiteboard Equipped With
                            Audio-Video-Chat Features Which
                            helps You Alot.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div><!-- #edugate_services -->

<div id="edugate_about_us" class="page-section same-background">
    <div class="wrapper">
        <div class="about-us-container">
            <div class="entry-container">
                <div class="entry-header">
                    <p class="entry-subtitle">About Us</p>
                    <h2 class="entry-title">Edugate Award
                        Winning Academic Solutions</h2>
                </div><!-- .section-header -->

                <div class="entry-content">
                    <p>What if you could get a Harvard-level
                        education by reading for just 15 minutes
                        a day? That was exactly the goal and
                        philoshopy of Dr Charles W.Eliot,
                        President of Hardvard University for 40
                        years.</p>
                </div><!-- .entry-content -->

                <div class="counter">
                    <article>
                        <div class="counter-item">
                            <h2 class="counter-value">100+</h2>
                            <h3 class="counter-title">Courses
                                Available</h3>
                        </div>
                    </article>
                    <article>
                        <div class="counter-item">
                            <h2 class="counter-value">20K+</h2>
                            <h3 class="counter-title">Students
                                Learning</h3>
                        </div>
                    </article>
                    <article>
                        <div class="counter-item">
                            <h2 class="counter-value">301</h2>
                            <h3 class="counter-title">Awards
                                Winning</h3>
                        </div>
                    </article>
                </div>

                <div class="join-us">
                    <a href="#" class="btn">Know Us More</a>
                </div>
            </div><!-- .entry-container -->

            <div class="featured-image">
                <img src="/static/assets/images/03.png">
            </div>
        </div>
    </div>
</div><!-- #edugate_about_us -->

<div id="edugate_courses" class="page-section same-background">
    <div class="wrapper">
        <div class="section-header">
            <p class="section-subtitle">Popular Courses</p>
            <h2 class="section-title">Browse Our Courses</h2>
        </div>

        <div class="section-wrapper">
            <div class="section-tabs">
                <ul class="tabs">
                    <li data-tab="law"> <a href="#">Law</a></li>
                    <li data-tab="science"> <a
                            href="#">Science</a></li>
                    <li class="active" data-tab="humanities"> <a
                            href="#">Humanities</a></li>
                    <li data-tab="management"> <a
                            href="#">Management</a></li>
                </ul>
            </div>

            <div class="section-content">
                <div id="law" class="tab-content">
                    <div class="tab-content-wrapper">
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/14.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Nepali</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/14.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">English</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/14.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Social
                                                Studies and Life
                                                Skill</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div id="science" class="tab-content">
                    <div class="tab-content-wrapper">
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/15.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Full
                                                Image
                                                Manipulation
                                                Guide</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div id="humanities" class="tab-content active">
                    <div class="tab-content-wrapper">
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/17.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">English
                                                I</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/17.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Nepali</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/17.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Business
                                                Mathematics</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div id="management" class="tab-content">
                    <div class="tab-content-wrapper">
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/14.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Adobe
                                                Full Design
                                                Course</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="course-container">
                                <div class="featured-image"
                                    style="background-image: url('/static/assets/images/17.jpg');"></div>
                                <div class="entry-container">
                                    <div class="icon-container">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true"></i>
                                    </div>
                                    <header
                                        class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#"
                                                tabindex="0">Business
                                                Branding Full
                                                Guide</a>
                                        </h2>
                                    </header>
                                    <div class="post-meta">
                                        <span class="time">
                                            <i
                                                class="fa fa-clock-o"
                                                aria-hidden="true"></i>
                                            20+ hr taught
                                        </span>

                                        <span
                                            class="price">$250</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- #edugate_courses -->

</div><!-- #content -->
{% endblock body %}
